@use "../../../Styles/variables";


.cartConfirmationContainer {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

    h1 {
        color: variables.$primary;
        font-size: 42px;
        font-weight: bold;
    }

    span {
        color: variables.$thirdary;
        font-size: 48px;
    }
}