@use '../../Styles/variables';

.bundleItemsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    justify-content: space-evenly;
    color: variables.$primary;
    background-color: white;
    padding: 5px;
    border-bottom: 2px solid variables.$thirdary;

    .bundleLinky {
        display: flex;
        width: 400px;
        justify-content: space-around;
        text-decoration: none;
        align-items: center;
        color: white;
        color: variables.$primary;
    }

    .bundleLinky:hover {
        background-color: variables.$thirdary;
        color: white;
    }

    .bItemName {
        font-weight: bold;
    }

    .bItemImage {
        height: 50px;
        width: 50px;
        
        .bIi {
            height: 50px;
            width: 50px;
        }
    }

    .bItemPrice {
        font-weight: bold;
    }
}