@use '../../Styles/variables';



.cOptionsContainer {
    display: flex;
    flex-direction: row;
    padding-top: 2em;
    gap: 2em;
    font-weight: bold;

    .cOption {
        @include variables.defaultButton;
        background-color: variables.$primary;
    }

    .cOption:hover {
        background-color: variables.$thirdary;
    }

}