@use "../../Styles/variables";

.cartContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;


    .cartTotal {
        color: variables.$thirdary;
        font-size: 24px;
        font-weight: bold;
        padding-top: 1em;

        .cartSpace {
            color: variables.$primary
        }
        
        .cartTotalAmount {
            color: variables.$primary;
        }

        .cartDollar {
            padding-left: 10px;
            color: variables.$thirdary;
        }
    }
}

.emptyCartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: variables.$primary;
    height: 100vh;
    font-size: 48px;

    span {
        color: variables.$thirdary;
    }
}
